html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.div-with-button {
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-with-button button {
    background-color: #e4c681;
    border: 0;
    cursor: pointer;
    transition-duration: 300ms;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    color: #424242;
    font-size: 14px;
    font-weight: 700;
}

.div-with-button button:hover {
    background-color: #ffdc6d;
    width: 250px;
}
