//  If nothing will be passed - "flex-direction" will be set to "row"
@mixin flex_center($direction: row) {
  display: flex;
}

@mixin flex_with_color($direction: row, $color: black) {
  @include flex_center($direction);
  background-color: $color;
}

@mixin colors($color: #424242, $background-color: red) {
  background-color: $background-color;
  color: $color;
}

@mixin hover_button() {
  background-color: green;
  width: 250px;
}

.div-with-button {
  @include flex_with_color;

  button {
    @include colors(#424242, blue);

    &:hover {
      @include hover_button();
    }
  }
}


