/*
    Sometimes you want to write a style rule
    that’s only intended to be extended.
    In that case, you can use placeholder selectors,
    which look like class selectors
    that start with % instead of .
*/
%flex {
  display: flex;
}

.some-class {
  height: 50%;
  background-color: black;
}

%flex_with_color {
  @extend %flex;
  @extend .some-class;
}

%button_styles {
  height: 50px;
  width: 200px;
}

div {
  @extend %flex_with_color;

  button {
    @extend %button_styles;
    color: #424242;
    background-color: #d966fb;
  }
}
