@charset "UTF-8";
.some-class, .div2-with-button, .div-with-button {
    height: 50%;
    background-color: black;
}

/*
    Sometimes you want to write a style rule
    that’s only intended to be extended.
    In that case, you can use placeholder selectors,
    which look like class selectors
    that start with % instead of .
*/
.div2-with-button, .div-with-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div2-with-button button, .div-with-button button {
    background-color: #e4c681;
    border: 0;
    cursor: pointer;
    transition-duration: 300ms;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    color: #424242;
    font-size: 14px;
    font-weight: 700;
}

.div2-with-button button:hover, .div-with-button button:hover {
    background-color: #ffdc6d;
    width: 250px;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.div-with-button button {
    color: #424242;
    background-color: #d966fb;
}

.div2-with-button button {
    color: red;
    background-color: #a2df71;
}
