/* Simple function */
/* if/else function */
#root {
    background-color: black;
}

/* if/else function */
.div-with-button button {
    background-color: #e4c681;
    color: #424242;
}

/* if/else function */
.div-with-button button:hover {
    background-color: #e4c681;
    color: #424242;
}

.avatar-96 {
    background: url(https://randomuser.me/api/portraits/men/96.jpg);
    height: 120px;
    width: 120px;
}

.avatar-97 {
    background: url(https://randomuser.me/api/portraits/men/97.jpg);
    height: 120px;
    width: 120px;
}

.avatar-98 {
    background: url(https://randomuser.me/api/portraits/men/98.jpg);
    height: 120px;
    width: 120px;
}

.avatar-99 {
    background: url(https://randomuser.me/api/portraits/men/99.jpg);
    height: 120px;
    width: 120px;
}

.div-with-button, .avatars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.avatars {
    height: 50%;
}

.div-with-button {
    height: 50%;
}

.div-with-button button {
    border: 0;
    cursor: pointer;
    transition-duration: 300ms;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    font-size: 14px;
    font-weight: 700;
}

.div-with-button button:hover {
    width: 250px;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
}
